body {
    font: 400 11pt 'Segoe UI', Calibri, Arial, sans-serif !important;
}

h1, h2, h3, h4, input[type=submit] {
    font-family: 'Segoe UI Light', Calibri, Arial, sans-serif !important;
    margin: 0 0 .5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
    margin-left: .7em;
}

p code, li code {
    border: none;
    padding: 2px 0;
    font-size: 11pt;
    color: black;
}

pre code {
    font-size: 11pt;
}

span.caption-text {
    color: #dcdcdc;
    background: #1e1e1e;
}

p a code {
    text-decoration: underline;
}

.wy-menu-vertical li.current a {
    color: #1e1e1e;
}

li.current {
    border-top: 1px solid #010101;
    border-bottom: 1px solid #010101;
}

.hljs-type, .hljs-keyword, .hljs-title, .hljs-meta-string, .hljs-meta {
    font-weight: normal !important;
}

.hljs-meta {
    color: #4EC9B0;
}
