<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgileObjects.ReadableExpressions" version="1.7.1" targetFramework="net452" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="Expressmapper" version="1.8.3" targetFramework="net452" />
  <package id="Mapster" version="2.5.0" targetFramework="net452" />
  <package id="valueinjecter" version="3.1.1.3" targetFramework="net452" />
</packages>